.popularni {
    .tittle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin-top: 30px;
        @media (max-width:1300px) {
            margin-top: 20px;
        }
        @media (max-width:1180px) {
            margin-top: 10px;
        }
        @media (max-width:900px) {
            display: block;
            align-items: center;
        }
        .fr {
            height: 0.1px;
            border: 0.1px solid rgb(227, 221, 221);
            @media (max-width:800px) {
                display: none;
            }
        }
        .scd {
            display: block;
            text-align: center;
            width: 350px;
            @media (max-width:1180px) {
                width: 300px;
            }
            h2 {
                font-weight: 300;
                font-size: 25px;
                margin-bottom: 0px;

            }
        }
        .thr {
            height: 0.1px;
            border: 0.1px solid rgb(227, 221, 221);
            @media (max-width:800px) {
                display: none;
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 20px;
        @media (max-width:1300px) {
         grid-template-columns: repeat(4, 1fr);   
        }
        @media (max-width:1020px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:840px) {
            grid-template-columns: auto auto;
        }
        @media (max-width:700px) {
            grid-template-columns: auto;
            padding: 0px 14% ;
        }
        @media (max-width:600px) {
            padding: 0px 13% 0px 10%;
        }
        @media (max-width:500px) {
            padding: 0px;
        }
        .block {
            width: 235px;
            background-color: #fff;
            transform: scale(1.0);
            transition: 1s;
            margin-bottom: 15px;
            @media (max-width:1300px) {
                margin-left: 10px;
                margin-bottom: 20px;
            }
            @media (max-width:1300px) {
                margin-left: 20px;
            }
            @media (max-width:880px) {
                margin-left: 25px;
            }
            @media (max-width:840px) {
                width: 330px;
            }
            @media (max-width:770px) {
                width: 300px;
            }
            @media (max-width:700px) {
                width: 360px;
            }
            @media (max-width:600px) {
                width: 330px;
            }
            @media (max-width:500px) {
                width: 300px;
            }
            @media (max-width:400px) {
                width: 260px;
            }
            .img {
                position: relative;
                .bs {
                    position: absolute;
                    top: 5%;
                    right: -3%;
                    background-color: red;
                    color: #fff;
                    font-size: 12px;
                    padding: 3px 5px;
                    font-weight: 300;
                    border-radius: 4px;
                    p {
                        margin: 0px;
                    }
                }
                .pp {
                    position: absolute;
                    top: 5%;
                    right: -3%;
                    background-color: #1E87F0;
                    color: #fff;
                    font-size: 12px;
                    padding: 3px 5px;
                    font-weight: 300;
                    border-radius: 4px;
                    p {
                        margin: 0px;
                    }
                }
                .new {
                    position: absolute;
                    top: 5%;
                    right: -3%;
                    background-color: #03D200;
                    color: #fff;
                    font-size: 12px;
                    padding: 3px 7px;
                    font-weight: 300;
                    border-radius: 4px;
                    p {
                        margin: 0px;
                    }
                }
            }
            img {
                width: 100%;
            }
            .txt {
                margin: 20px 0px 20px 10px ;
                padding: 0px 10px 0px 0px;
                @media (max-width:1180px) {
                    margin: 18px 0px 18px 8px;
                    padding: 0px 8px 0px 0px;
                }
            }
            .fs1 {
                font-size: 14px;
                margin-bottom: 0px;
            }
            .gr-title {
                margin-bottom: 0px;
            }
            .fs2 {
                margin: 0px;
                color: gray;
                font-size: 14px;
                font-weight: 300;
                p {
                    margin: 0px;
                }
            }
            .buy {
                .buyy {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 10px;
                  background: #FFDD00;
                  color: #333333;
                  i {
                    margin-right: 3px;
                  }
                  p {
                    font-weight: 300;
                    font-size: 18px;
                    margin: 0px;
                    @media (max-width:1180px) {
                        font-size: 17px;
                    }
                  }
                }
              }
        }
        .block:hover {
            transition: 1s;
            transform: scale(1.03);
        }
    }
}